/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #f5f5f5;
overflow-x: hidden;
}
header{
  background-color: #3400ff;
  margin: -2rem;
  padding: 3rem;
  height: 40vh;
  width: 100vw;
}
nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}
a{
  margin-right: 1rem;
}
a[class=nav-item]{
  padding-right: 2rem;
  color: white;
  cursor: pointer;
}
a[class=nav-item-active], .nav-item:hover{
  transition: ease-in .3s;
  background-color: white;
  padding: .5rem;
  margin-top: -.5rem;
  width: 4rem;
  text-align: center;
  color: #4618FE;
  border-radius: 5px;
}
.logo{
  margin-top: -2rem;
  margin-left: 2rem;
}
svg[class=nav-item]{
  width: 2rem;
  height: 1.7rem;
  margin-right: 1rem;
  margin-top: -.2rem;
}
.header-text{
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  margin-left: 2rem;
}
.header-text img{
  width: 4rem;
  height: .2rem;
  margin-top: -2rem;
}
.header-text h2,p{
  color: white;
  padding-bottom: -4rem;
}
.header-text p{
  position: relative;
  margin-top: -.7rem;
}
.header-image{
  float: right;
  margin-top: -14rem;
  margin-right: -2rem;
}
.companies{
  margin-top: 3rem;
  margin-left: 3rem;
}
.companies a{
  font-family: 'Righteous';
  text-decoration: none;
  color: black;
}

.api{
  margin-left: 2rem;
  margin-right: 2rem;
}
.api-heading{
  font-size: 30px;
  margin-top: 4rem;
}
/* 
Blog Section */
.blog-heading{
  margin-left: 2rem;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.card{
  padding: 2rem;
}
.card-active, .card:hover{
  transition: ease-in-out .3s;
  width: 18rem;
  padding: 2rem;
  border-radius: 17px;
  box-shadow: 2px 2px  5px gray;
}
.card-body{
  color: black;
}
.blog-cards{
  display: flex;
}
.blog-card{
  position: relative;
  margin-right: 2rem;
  flex-wrap: wrap;
  margin-left: 2rem;
  display: flex;
  height: 17.9rem;
  justify-content: space-between;
  border-top-left-radius: 47px;
  border-bottom-left-radius: 17px;
  box-shadow: 2px 2px  5px gray;
  width: 60rem;
}
.blog-card:hover{
  transition: ease-in .3s;
  transform: scale(1.05);
}
.blog-content{
  z-index: 2;
  padding-right: 2rem;
  padding-top: .5rem;
}
.blog-author{
  position: absolute;
  z-index: 3;
  margin-top: 1rem;
  margin-left: 9.5rem;
  font-size: 13px;
}
.blog-bottom{
  position: absolute;
  z-index: 4;
  margin-top: 1.5rem;
  margin-left: 23rem;
}
/* 
FaQ Section */

.faq-section{
  background-color: #E9EDFF;
  display: flex;
  margin: 2rem -1rem 2rem -1rem;
  font-family: 'Righteous';
  padding: 1rem 2rem 1rem 3rem;
  height: 17rem;
}
.faq-image{
  margin-top: -1.6rem;
  margin-left: 7rem;
  transform: scale(.93);
}
.faq-content button{
  width: 9rem;
  height: 2rem;
  margin-top: -1rem;
  background-color: #5A31FC;
  border: none;
  color: white;

}
/* 
Download Section 
*/

.download-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5rem 1rem 5rem;
}
.download-content span{
  font-size: 22px;
}
.download-email form input{
  position: relative;
  width: 25rem;
  height: 1.7rem;
  border-radius: 56px;
  padding: .5rem;
  background-color: #E9EDFF;
  padding-left: 9rem;
  border: gray;
}

.download-email form button{
  position: relative;
  margin-right: 1rem;
  margin-left: -7.5rem ;
  height: 2.4rem;
  width: 7rem;
  border: rgb(50, 48, 48);
  border-radius: 27px;
  background-color: #5A31FC;
  color: white;
}
/* 
Footer section */
.footer-section{
  background-color:  #5A31FC;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 7rem;
  margin: 0 -2rem -2rem -2rem;
}
li{
  list-style: none;
}
.footer-logo{
  margin-left: 3rem;
}
.list{
  display: flex;
  justify-content: space-between;
  width: 30rem;
}
.list-items{
  padding-right: .8rem;
  border-right: 2px solid rgb(206, 194, 194);
}
.logos-list{
  display: flex;
  justify-content: space-between;
  width: 17rem;
  margin-left: -26rem;
}
.footer-right div{
  margin-left: -19rem;
}
.footer-logos{

  margin: 1rem 1rem 0 1rem;
}
.fa-bars{
  color: white;
  display: none;
}
@media(max-width: 575px){

  header{
    margin: -2rem;
    padding: 3rem;
    height: 19rem;
  }
  nav{
    display: none;
  }
  .logoclass{
    display: flex;
    justify-content: space-around;
  }
  .fa-bars{
    display: block;
    font-size: 2rem;
  }
  .logo{
    margin-top: -0.4rem;
    margin-left: 13rem;
  }
  svg[class=nav-item]{
    margin-left: -8.2rem;
    margin-top: -3rem;
  }
  .header-text{
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-size: .7rem;
    margin-top: 7rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
    
  }
  .header-image{
    position: absolute;
    float: right;
    transform: scale(.6);
    margin-top: -20rem;
    margin-left: 9rem;
  }
  .companies{
    display: flex;
    flex-direction: column;
  }
  .companies a{
    font-family: 'Righteous';
    text-decoration: none;
    color: black;
    width: 10rem;
   }
  .api{
    margin-left: 12rem;
    margin-right: 2rem;
  }
  .api-heading{
    font-size: 1.5rem;
    margin-top: 4rem;
  }
  /* 
  Blog Section */
  .blog-heading{
    margin-left: 12rem;
    
    font-size: .8rem;
  }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .card{
    transform: scale(.8);
    margin-left: -4rem;
    margin-top: -2rem;
  }
  .card-active{
    margin-left: -4rem;
    transform: scale(.8);
  }
  .card-body{
    color: black;
  }
  .blog-cards{
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
  }
  .blog-card{
    height: 40rem;
    width: 15.6rem;
    margin-left: 12rem;
    margin-bottom: 2rem;
  }
  .blog-image{
    margin-right: 2rem;
    padding-right: 1rem;
  }
  .blog-content{
    margin-top: 3rem;
    margin-left: 1rem;
    z-index: 2;
  }

  .blog-author{
    z-index: 3;
    margin-top: 10rem;
    margin-left: 3rem;
    font-size: 13px;
  }
  .blog-bottom{
    z-index: 4;
    margin-top: 19.5rem;
    margin-left: 2rem;
  }
  /* 
  FaQ Section */
  
  .faq-section{
    background-color: #E9EDFF;
    display: flex;
    flex-direction: column;
    margin: 2rem -1rem 2rem 11rem;
    font-family: 'Righteous';
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    height: 37rem;
    width: 12rem;
  }
  .faq-image{
    margin-top: -1.6rem;
    margin-left: -8rem;
    transform: scale(.43);
  }
  .faq-content button{
    width: 9rem;
    height: 2rem;
    margin-top: -1rem;
    background-color: #5A31FC;
    border: none;
    color: white;
  
  }
  /* 
  Download Section 
  */
  
  .download-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 25rem;
  }
  .download-content{
    font-size: 1rem;
    margin-left: -21rem;
  }
  .download-email form input{
  transform: scale(.7);
  margin-left: -20rem ;
  padding-left: 2rem;
  width: 17rem;
  }
  
  .download-email form button{
    font-size: .4rem;
    margin-right: 1rem;
    margin-left: -7.5rem ;
    margin-bottom: .3rem;
    height: 1.5rem;
    width: 4rem;
  }
  /* 
  Footer section */
  .footer-section{
    flex-direction: column;
    height: 17rem;
    margin: 0 -2rem -2rem -2rem;
  }

  .list{
    flex-direction: column;
    width: 30rem;
  }
  .list-items{
    border-right: none;
    border-top: 2px solid rgb(206, 194, 194);
    width: 1rem;
  }

}
@media (min-width: 576px) and (max-width: 769px){
  header{
    padding: 3rem;
    height: 20rem;
    width: 105vw;
    display: flex;
    flex-direction: column;
  }
  nav{
    display: none;
  }
  .logoclass{
    display: flex;
    justify-content: space-around;
    min-height: 5rem;
    min-width: 100vw;
  }
  .fa-bars{
    display: block;
    font-size: 2rem;
    margin-right: 40%;
  }
  .logo{
    margin-top: 0rem;
    width: 10rem;
    height: 4rem;
    margin-right: 4rem;
  }

  .header-text{
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-size: .7rem;
    margin-top: 7rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
    
  }
  .header-image{
    float: right;
    transform: scale(.6);
    margin-top: -50%;
    margin-right: -14%;
  }
  .companies{
    display: flex;
    flex-direction: column;
  }
  .companies a{
    font-family: 'Righteous';
    text-decoration: none;
    color: black;
    width: 10rem;
   }
  .api{
    margin-left: 8rem;
    margin-right: 2rem;
  }
  .api-heading{
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: 5rem;
  }
  /* 
  Blog Section */
  .blog-heading{
    text-align: center;
    font-size: .8rem;
  }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  .card{
    margin: auto;
  }
  .card-active{
    margin-left: -4rem;
  }
  .card-body{
    color: black;
  }
  .blog-cards{
    display: flex;
  }
  .blog-card{
    height: 40rem;
    width: 15.6rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  }
  .blog-image{
    margin-right: 2rem;
    padding-right: 1rem;
  }
  .blog-content{
    margin-top: 3rem;
    margin-left: 1rem;
    z-index: 2;
  }

  .blog-author{
    z-index: 3;
    margin-top: 10rem;
    margin-left: 3rem;
    font-size: 13px;
  }
  .blog-bottom{
    z-index: 4;
    margin-top: 19.5rem;
    margin-left: 2rem;
  }
  /* 
  FaQ Section */
  
  .faq-section{
    background-color: #E9EDFF;
    display: flex;
    flex-direction: column;
    margin: 2rem -1rem 2rem -1rem;
    font-family: 'Righteous';
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    height: 37rem;
    width: 32rem;
  }
  .faq-image{
    margin-top: -1rem;
    margin-left: -5rem;
    transform: scale(.83);
  }
  .faq-content button{
    width: 9rem;
    height: 2rem;
    margin-top: -1rem;
    background-color: #5A31FC;
    border: none;
    color: white;
  
  }
  /* 
  Download Section 
  */
  
  .download-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 15rem;
  }
  .download-content{
    font-size: 1rem;
    margin-left: -21rem;
  }
  .download-email form input{
  transform: scale(.9);
  margin-left: -20rem ;
  padding-left: 2rem;
  margin-top: 1rem;
  width: 22rem;
  }
  
  .download-email form button{
    font-size: .8rem;
    margin-right: 1rem;
    margin-left: -7.5rem ;
    margin-bottom: 1rem;
    height: 2rem;
    width: 6rem;
  }
  /* 
  Footer section */
  .footer-section{/* 
    flex-direction: column; */
    height: 17rem;
    justify-content: flex-start;
    margin: 0 -2rem -2rem -2rem;
  }
  .footer-right{
    margin-left: 12rem;
  }

  .list{
    flex-direction: column;
    width: 20rem;
  }
  .list-items{
    border-right: none;
    width: 1rem;
  }
}
@media(min-width: 1920px){
  header{
    width: 100vw;
  }
  .blog-heading{
    text-align: center;
  }
  .blog-cards{
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 10rem;
  }
  .blog-card{
    transform: scale(1.2);
    margin-right: 10rem;
    min-width: 50rem;
    margin-bottom: 4rem;
  }
  .faq-section{
    height: 30rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .faq-content button{
    margin-left: 2rem;
    transform: scale(1.5);
  }
  .faq-image{
    margin-top: 5.5rem;
    margin-left: 50rem;
    transform: scale(1.6);
  }
  .download-section{
    justify-content: space-around;
  }
  .download-email{
    transform: scale(1.5);
  }
  .footer-section{
    margin-top: 10rem;
    font-size: 2rem;
    height: 15rem;
  }
  .footer-section .footer-left .list .list-items{
    padding: 1rem;
    border-right: none;
  }
  .footer-section .footer-right .logos-list .list-items{
    border-right: none;
  }
}